Repository w3c/sparql-results-json, pull requests merged in 2023-04, with the labels that each got.

#13 Use data-cite instead of href, Closes #7
  spec/index.html
Labels: spec:editorial

#10 JSON Schema for SPARQL results JSON
  spec/result.json
Labels: spec:enhancement

#19 Allow quoted triples to be expressed
  spec/index.html
Labels: spec:substantive
