Repository w3c/sparql-results-json, pull requests merged in 2023-05, with the labels that each got.

#21 FPWD
  publication-snapshots/FPWD/Overview.html
  publication-snapshots/FPWD/result.json
Labels: ms:FPWD

#22 hot fix on FPWD (also reflected on TR/)
  publication-snapshots/FPWD/Overview.html
  spec/index.html
Labels: ms:FPWD, spec:editorial

#23 Remove duplicate previousPublishDate
  spec/index.html
Labels: spec:editorial
